########################################################################################
# This configuration MUST NOT BE USED FOR THE PRODUCTION deployment
# This configuration CAN BE USED FOR DEMO OR POC PURPOSESES 
# Instances deployed using this config as production system WON'T BE SUPPORTED
########################################################################################

# Update this to install different release – check the release notes
# Release notes: https://docs.qameta.io/allure-testops/release-notes/

ALLURE_VERSION=5.3.3

########################################################################################
 # ALLURE_MAIL_ROOT
 # Email to send root invitation
 ########################################################################################
 ALLURE_MAIL_ROOT=admin@company.test

########################################################################################
# ALLURE_HOST
# You need to update ALLURE_HOST accordingly to your network set up for Allure TestOps
# ALLURE_HOST must be the FQDN of Allure TestOps instance as it is being accessed by end users and by external systems
# FQDN for end users and external systems must be the same, otherwise collisions will occur
# If you are using custom port, it's mus be included to the ALLURE_HOST, e.g. ALLURE_HOST=testops.internal.network:10777
########################################################################################
ALLURE_HOST=allure.io

# ALLURE_INSTANCE_PORT defines the port of testops that is exposed to the external world
ALLURE_INSTANCE_PORT=80
# ALLURE_CONTAINER_PORT defines the port of testops which is used to access the appliation inside its container
# Generlly, you do not need to change it
ALLURE_CONTAINER_PORT=8080

########################################################################################
# ALLURE_PROTO
# use 'http' if end users and integrations access this insytance using HTTP
# use 'https' if end users and integrations access this insytance using https
# if ALLURE_PROTO=https, ALLURE_SECURE_COOKIE must be set to true
# if ALLURE_PROTO=http and ALLURE_SECURE_COOKIE=true, you won't be able to login
# ALLURE_SECURE_COOKIE=true is required for the integration with all types of Jira
########################################################################################
ALLURE_PROTO=http
ALLURE_SECURE_COOKIE=false


########################################################################################
# Time zone of the instance. 
# Update this parameter. It's important for interactions with other systems.
# Check TZ Identifier column https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
########################################################################################

TZ="Europe/London"

########################################################################################
# defines the duration of the validity period of the access tokens generated by the system
########################################################################################

ALLURE_SESSION_DURATION=57600

########################################################################################
# Update before deployment.
# ALLURE_JWT_SECRET used as seed phrase for the traffic encryption and access tokens generation
# the longer this string is, the more resources will be required for the keys generation
# Longer string here will require more CPU for crypto operations
########################################################################################
ALLURE_JWT_SECRET=123456789ABCDEF

########################################################################################
# ALLURE_CRYPTO_PASSWORD 
# Parameter is used for the encryption of the sensitive data in the database. Users' passwords,
# Integrations' secrets are encrypted using this password
# Update this parameter once before the deployment and do not change it. Keep it in a safe place.
# as an example we encoded https://help.qameta.io using base64 below
########################################################################################
ALLURE_CRYPTO_PASSWORD=aHR0cHM6Ly9oZWxwLnFhbWV0YS5pbw==


########################################################################################
# TLS_ parameters are used to add the endpoints with self-signed certificates to trusted ones
# Comment both if no self signed certificates used
# Commented by default
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
## TLS_ENDPOINTS=ldaps.example.com:636,rabbit.example.com:5672
## TLS_DB_ENDPOINTS=db.example.com:5432

########################################################################################
# Registry Settings
# Following parameters define the source of Allure TestOps images
# Default source is to be set accordingly to te documentation of the deployment with docker compose

########################################################################################

ALLURE_REGISTRY=<correct registry here>
ALLURE_SLUG=<correct slug accordingly to the docs>

########################################################################################
# Defines configuration for Redis
# Alterations of these parameters make sense only for the production deployment.
########################################################################################

ALLURE_REDIS_HOST=redis
ALLURE_REDIS_PORT=6379
ALLURE_REDIS_PASS=Y5ZBqrcb68WKA9ZZ
ALLURE_REDIS_DB=0

########################################################################################
# System managed end users registration settings
# ROLE_GUEST is recommended for better licence consumption control
########################################################################################
ALLURE_REGISTRATION_DEFAULT_ROLE=ROLE_GUEST


########################################################################################
# Integration with SMTP server is required for inviting new local users to Allure TestOps,
# and for the password reset for local users.
# Local use is an Allure TestOps user that is being authenticated by Allure TestOps withouit any external IAM systems.
########################################################################################
ALLURE_MAIL_HOST=smtp.gmail.com
ALLURE_MAIL_PORT=465
ALLURE_MAIL_USERNAME=username
ALLURE_MAIL_PASSWORD=password
ALLURE_MAIL_FROM=noreply@example.com
ALLURE_MAIL_SMTP_AUTH=true
ALLURE_MAIL_SMTP_STARTTLS_ENABLE=true
ALLURE_MAIL_SMTP_STARTTLS_REQUIRED=true
ALLURE_MAIL_SMTP_SSL_ENABLE=true
ALLURE_MAIL_SMTP_SSL_TRUST=smtp.gmail.com

########################################################################################
# Settings for testops service
# You don't need to update this section for the demo config
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
ALLURE_REPORT_SERVICE_NAME=allure-report-service
ALLURE_REPORT_CONTEXT_PATH=/rs
ALLURE_REPORT_DB_HOST=testops-db
ALLURE_REPORT_DB_NAME=testops
ALLURE_REPORT_DB_USERNAME=testops
ALLURE_REPORT_DB_PASS=GnNc9QQcLzZfhVNn
ALLURE_REPORT_PORT=8081
ALLURE_REPORT_DB_PORT=5432
ALLURE_RABBIT_HOST=rabbitmq
ALLURE_RABBIT_PORT=5672
ALLURE_RABBIT_USER=allure
ALLURE_RABBIT_PASS=wNaxbX7wEhqA6ZDQ

########################################################################################
# Parameters for fine tuning of the upload process.
# Do not change these parameters without consulting to the support
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
ALLURE_REPORT_DB_MAXIMUMPOOLSIZE=10
ALLURE_REPORT_DB_CONNECTIONTIMEOUT=60000
ALLURE_RABBIT_MAXCONCURRENCY=5
ALLURE_RABBIT_PARSE_CONSUMERSPERQUEUE=10
ALLURE_RABBIT_STORE_CONSUMERSPERQUEUE=2
RABBIT_ERLANG_COOKIE=fTwP5LxRVjZ9XJkyWmJSKR5hPDWMjkQx

########################################################################################
# Minio is included as S3 solution only for DEMO purposes
# You need either deploy minio separately or use industrial AWS S3 compatible solution
# ALLURE_S3_PATHSTYLE - AWS S3 supports false, many others support true
########################################################################################
ALLURE_S3_PROVIDER=s3
ALLURE_S3_URL=http://s3.end.point
ALLURE_S3_BUCKET=allure-testops
ALLURE_S3_REGION=qameta-0
ALLURE_S3_ACCESS_KEY=WBuetMuTAMAB4M78NG3gQ4dCFJr3SSmU
ALLURE_S3_SECRET_KEY=m9F4qupW4ucKBDQBWr4rwQLSAeC6FE2L
ALLURE_S3_PATHSTYLE=true

########################################################################################
# parameters for the fine tuning
# do not change these parameters without consulting to the support
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
ALLURE_S3_MAXCONCURRENCY=200
ALLURE_SCHEDULER_CLEANER_BLOB_BATCHSIZE=2000
ALLURE_TASKEXECUTOR_COREPOOLSIZE=200