########################################################################################
# This configuration MUST NOT BE USED FOR THE PRODUCTION deployment
# This configuration CAN BE USED FOR DEMO OR POC PURPOSE 
# Instances deployed using this config as production system WON'T BE SUPPORTED
########################################################################################

# Update this to install different release – check the release notes
# Release notes: https://docs.qameta.io/allure-testops/release-notes/
# Migration to version 5 from version 4 is possible from 4.26.5 to 5.5.1

RELEASE_TO_DEPLOY=5.6.0

########################################################################################
# Registry Settings
# Following parameters define the source of TestOps images
# Default source is to be set accordingly to the documentation of the deployment with docker compose
# You need to provide the registry url, e.g. docker.io and the repo name, both are described in the docs.
########################################################################################

IMAGES_REGISTRY=<correct registry here>
IMAGES_REPO=<correct repo name accordingly to the docs>

########################################################################################
# FIRST_ADMIN_EMAIL
# The email address configured below (FIRST_ADMIN_EMAIL) will be used by the system to send the invitation.
# to the very first administrator of the instance being deployed.
# For the operation to be completed successfully all parameters with ALLURE_MAIL_ prefix must be configured for
# the usage of SMTP server which will send the invitation.
########################################################################################
FIRST_ADMIN_EMAIL=testops-first-admin@company.test

########################################################################################
# TESTOPS_INSTANCE_URL
# You need to update TESTOPS_INSTANCE_URL accordingly to your network set up for TestOps
# TESTOPS_INSTANCE_URL must be the FQDN of TestOps instance as it is being accessed by end users and by external systems
# FQDN for end users and external systems must be the same, otherwise collisions will occur
# If you are using custom port, it's must be included to the TESTOPS_INSTANCE_URL, e.g. TESTOPS_INSTANCE_URL=testops.internal.network:10777
########################################################################################
TESTOPS_HOST=testops.io

# TESTOPS_INSTANCE_PORT defines the port of testops that is exposed to the external world
TESTOPS_INSTANCE_PORT=80
# ALLURE_CONTAINER_PORT defines the port of testops which is used to access the application inside its container
# Generally, you do not need to change it
TESTOPS_CONTAINER_PORT=8080

########################################################################################
# TESTOPS_PROTO
# use 'http' if end users and integrations access this instance using HTTP
# use 'https' if end users and integrations access this instance using https
# if TESTOPS_PROTO=https, TESTOPS_SECURE_COOKIE must be set to true
# if TESTOPS_PROTO=http and TESTOPS_SECURE_COOKIE=true, you won't be able to login
# TESTOPS_SECURE_COOKIE=true is required for the integration with all types of Jira
########################################################################################
TESTOPS_PROTO=http
TESTOPS_SECURE_COOKIE=false

########################################################################################
# Time zone of the instance. 
# Update this parameter. It's important for interactions with other systems.
# Check TZ Identifier column https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
########################################################################################
TZ="Europe/London"

########################################################################################
# defines the duration of the validity period of the access tokens generated by the system
########################################################################################
TESTOPS_SESSION_DURATION=57600

########################################################################################
# Update before deployment.
# JWT_SECRET used as seed phrase for the traffic encryption and access tokens generation
# the longer this string is, the more resources will be required for the keys generation
# Longer string here will require more CPU for crypto operations
########################################################################################
JWT_SECRET=123456789ABCDEF

########################################################################################
# CRYPTO_PASSWORD 
# Parameter is used for the encryption of the sensitive data in the database. Users' passwords,
# Integrations' secrets are encrypted using this password
# Update this parameter once before the deployment and do not change it. Keep it in a safe place.
########################################################################################
CRYPTO_PASSWORD=aHR0cHM6Ly9oZWxwLnFhbWV0YS5pbw==

########################################################################################
# TLS_ parameters are used to add the endpoints with self-signed certificates to trusted ones
# Comment both if no self signed certificates used
# Commented by default
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
## TLS_ENDPOINTS=ldaps.example.com:636,rabbit.example.com:5672
## TLS_DB_ENDPOINTS=db.example.com:5432

########################################################################################
# Defines configuration for Redis
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=Y5ZBqrcb68WKA9ZZ
REDIS_DB=0

########################################################################################
# Integration with SMTP server is required for inviting new local users to TestOps
# and inviting of the very first administrator of the system being deployed
# and for the password reset for local users.
# Local user is an user that is being authenticated by TestOps without any external IAM systems.
########################################################################################
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=username
SMTP_PASSWORD=password
SMTP_MAIL_FROM=noreply@example.com
SMTP_AUTH=true
SMTP_STARTTLS_ENABLE=true
SMTP_STARTTLS_REQUIRED=true
SMTP_SSL_ENABLE=true
SMTP_SSL_TRUST=smtp.gmail.com

########################################################################################
# Settings for testops service
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
TESTOPS_SERVICE_NAME=testops-service
TESTOPS_CONTEXT_PATH=/rs
TESTOPS_DB_HOST=testops-db
TESTOPS_DB_NAME=testops
TESTOPS_DB_USERNAME=testops
TESTOPS_DB_PASS=GnNc9QQcLzZfhVNn
TESTOPS_PORT=8081
TESTOPS_DB_PORT=5432

RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=testops
RABBIT_PASS=wNaxbX7wEhqA6ZDQ
RABBIT_ERLANG_COOKIE=fTwP5LxRVjZ9XJkyWmJSKR5hPDWMjkQx

########################################################################################
# Parameters for fine tuning of the upload process.
# Do not change these parameters without consulting with the support
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
TESTOPS_DB_MAXIMUMPOOLSIZE=10
TESTOPS_DB_CONNECTIONTIMEOUT=60000

TESTOPS_RABBIT_MAXCONCURRENCY=5
TESTOPS_RABBIT_PARSE_CONSUMERSPERQUEUE=10
TESTOPS_RABBIT_STORE_CONSUMERSPERQUEUE=2

########################################################################################
# Minio is included as S3 solution only for DEMO configuration
# You need either deploy minio separately or use industrial AWS S3 compatible solution
# TESTOPS_S3_PATHSTYLE - AWS S3 supports false, many others support true
########################################################################################
TESTOPS_S3_PROVIDER=s3
TESTOPS_S3_URL=http://s3-endpoint.xyz
TESTOPS_S3_BUCKET=testops-bucket
TESTOPS_S3_REGION=qameta-0
TESTOPS_S3_ACCESS_KEY=WBuetMuTAMAB4M78NG3gQ4dCFJr3SSmU
TESTOPS_S3_SECRET_KEY=m9F4qupW4ucKBDQBWr4rwQLSAeC6FE2L
TESTOPS_S3_PATHSTYLE=true

########################################################################################
# parameters for the fine tuning
# do not change these parameters without consulting with the support
# Alterations of these parameters make sense only for the production deployment.
########################################################################################
TESTOPS_S3_MAXCONCURRENCY=200
TESTOPS_SCHEDULER_CLEANER_BLOB_BATCHSIZE=2000
TESTOPS_TASKEXECUTOR_COREPOOLSIZE=200

########################################################################################
# LOGIN_PRIMARY defines default way to authenticate users 
# LOGIN_PRIMARY options [system|ldap|saml]
########################################################################################
# SAML settings
########################################################################################
LOGIN_PRIMARY=saml
LOGIN_SAML2_ENABLED=true
########################################################################################
# Defines the default role for a user registered in the system via SAML2 auth
########################################################################################
REGISTRATION_DEFAULT_ROLE=ROLE_GUEST
# The text ID for the SSO provider. Will be used in URLs and displayed on the login buttons.
# Don't use whitespaces and special characters
LOGIN_SAML2_ID=KeyCloak
LOGIN_SAML2_ACS_URL=https://<your-domain>/api/login/saml2/sso/{registrationId}
LOGIN_SAML2_ENTITY_ID=https://<testops>/api/login/saml2/authenticate/{registrationId}
LOGIN_SAML2_METADATA_URL=https:///path/to/metadata.xml
LOGIN_SAML2_FIRSTNAMEATTRIBUTE=firstNameAttribute
LOGIN_SAML2_LASTNAMEATTRIBUTE=lastNameAttribute
LOGIN_SAML2_EMAILATTRIBUTE=emailAttribute
LOGIN_SAML2_SYNCROLES=false
LOGIN_SAML2_GROUPROLEATTRIBUTE=groupRoleAttribute
LOGIN_SAML2_GROUPAUTHORITIES_ROLEUSERGROUPS=roleUserGroups
LOGIN_SAML2_GROUPAUTHORITIES_ROLEADMINGROUPS=roleAdminGroups
